<carousel>
    <slide>
        <img src="../../assets/images/hero1.jpg" alt="firtsSlide" style="display: block; ">
    </slide>
    <slide>
        <img src="../../assets/images/hero2.jpg" alt="secondSlide" style="display: block;">
    </slide>
    <slide>
        <img src="../../assets/images/hero3.jpg" alt="thirdSlide" style="display: block;">
    </slide>
</carousel>
<section class="feauted">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to Shop</h1>
    </div>
</section>