<div class="container mt-3">
    <div class="row">
        <section class="col-3">
            <ng-container *ngIf="productType && brands">
            <h5 class="text-warning ml-4 mt-4 mb-3">Sort</h5>
            <select class="custom-select mb-4" (change)="onSortSelected($event.target.value)">
                <option *ngFor="let item of sortOptions"
                [value]="item.value"
                >
                    {{item.name}}
                </option>
                
            </select>
            <h5 class="text-warning ml-3">Brands</h5>

                <ul class="list-group my-3">
                    <li class="list-group-item" aria-current="true" 
                         *ngFor="let brand of brands"
                         [class.active]="brand.id === this.shopParams.brandId"
                         [value]="brand.id"
                         (click)="onBrandsSelected(brand.id)">
                     {{brand.name}}
                    </li>
                
                </ul>
              <h5 class="text-warning ml-3">Types</h5>
              <ul class="list-group my-3">
                <li class="list-group-item" aria-current="true" 
                *ngFor="let type of productType"
                    [class.active]="type.id === this.shopParams.typeId"
                    [value]="type.id"
                    (click)="onTypeSelected(type.id)">
                    {{type.name}}
                </li>
                
              </ul>
            </ng-container>
            </section>

        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">
            
                <app-pagging-header 
                [totalCount]="totalCount"
                [pageSize]="this.shopParams.pageSize"
                [pageNumber]="this.shopParams.pageNumber"
                > 

                    
                </app-pagging-header>

            <div class="form-inline" *ngIf="products">
                <input type="text" #search style="width: 300px" placeholder="Search" class="form-control mr-2">
                <button (click)="onSearch()" class="btn btn-outline-primary mr-2">Search</button>
                <button (click)="onReset()" class="btn btn-outline-danger ml-2 mr-2">Reset</button>
            </div>
        </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col-4 mb-4" *ngFor="let item of products">
                    <app-product-item [product]="item"></app-product-item>
                </div>
                
                <app-pager 
                    [pageSize]="shopParams.pageSize"
                    [totalCount]="totalCount"
                    (pageChanged)="onPageChanged($event)"
                ></app-pager>
              </div>
              
              
        </section>
    </div>
</div>